extends layout

block content
  .wrapper
  .container
    #login-form.login-form
      .row
        .center-block.col-md-3
          h1 Nhập tên
          input#username.form-control(type='type', name='username')
          input#reg.btn.btn-primary(type='button', name='reg', value='Đăng ký')
    #chat-form.chat-from
      .row
        .col-md-4
          h2 Danh sách online
          #box-online.box
            | ...
        .col-md-8
          #sayhi.chat-head
            | Hello 
            span#name-user  Tinh
            input#logout(type='button', name='', value='Logout')
          h3 Chat
          #list-msg.listmsg
          #thong-bao.listmsg
          input#dt-msg(type='text', name='')
          input#btn-send(type='button', name='', value='Gửi')